<a href="https://colab.research.google.com/github/Alex-Kurian/Python-Basics/blob/main/PythonBasics11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Practice Q.
#For loop
#Q1.
num=int(input("Number to Multiply="))
n2=int(input("Times to Multiply="))
for i in range(1,n2+1):
  print(num,"*",i,"=",i*num)

Number to Multiply=5
Times to Multiply=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [2]:
num=int(input("Number to Multiply="))
i=1
while(i<=10):
  print(num,"*",i,"=",i*num)
  i=i+1

Number to Multiply=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [3]:
#Q2.
n1=input("Number= ")
d=0
for i in n1:
  #print(i)
  d=d+1
print(d)

Number= 56546
5

In [4]:
x=input("Enter Word= ")
w= ""
for i in x:  
  w=i+w
#print(w)
if x==w: 
  print('True')
else:
  print('False')

Enter Word= AMMA
True

In [5]:
name=input("Enter the name: ")
if name.isupper():
  print(name.lower())
if name.islower():
  print(name.upper())
print(len(name))

Enter the name: ALEX
alex
4

In [6]:
n=input('Enter username= ')
a=input('Enter the letter to be replaced= ')
b=input('Enter the letter to replace= ')
if a in n:
  print(n.replace(a,b))

Enter username= VYSAKHA
Enter the letter to be replaced= A
Enter the letter to replace= H
VYSHKHH

In [7]:
C1=input('Enter Country name: ')
C2=input('Enter Country name: ')
C3=input('Enter Country name: ')
C4=input('Enter Country name: ')
C5=input('Enter Country name: ')
L=[C1,C2,C3,C4,C5]
print(sorted(L))
C6=input('Enter another country name ')
L.append(C6)
print(L)
L.remove(C2)
print(L)

Enter Country name: India
Enter Country name: USA
Enter Country name: UK
Enter Country name: Russia
Enter Country name: Wales
['India', 'Russia', 'UK', 'USA', 'Wales']
Enter another country name Canada
['India', 'USA', 'UK', 'Russia', 'Wales', 'Canada']
['India', 'UK', 'Russia', 'Wales', 'Canada']