<a href="https://colab.research.google.com/github/Alex-Kurian/Python-Basics/blob/main/PythonBasics4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=[10,20,30,40]
y=[35,46,22,96]
print(x)
print(type(x))
x[0]

[10, 20, 30, 40]
<class 'list'>

10

In [2]:
x=[10,20,30,40]
y=[35,46,22,96]
x[0]*y[0]+x[1]*y[1]+x[2]*y[2]+x[3]*y[3]

5770

In [3]:
x=['Kerala','Tamil Nadu']
y=['Chennai','Trivandram']
print(x[0],y[1])
print(x[1],y[0])

Kerala Trivandram
Tamil Nadu Chennai

In [4]:
x=[10,25,26,35,10,55]
y=[35,46,22,96]
#x[-1]*y[-1]+x[-2]*y[-2]+x[-3]*y[-3]+x[-4]*y[-4]
x[-5]*x[-3]

875

In [5]:
if x[5]==55:
  print('X is 55')
else:
  print('X is not 55')

X is 55

In [6]:
x='Alex Kurian'
x[-1]

'n'

In [7]:
if x[0]==x[-1]:
  print('Letters of yous name are same')
else:
  print('Letters of your name are not same')

Letters of your name are not same

In [8]:
x=[10,25,26,35,10,55]
for a in x:
  print(a)

10
25
26
35
10
55

In [9]:
x='Alex Kurian'
for a in x:
  print(a)

A
l
e
x

K
u
r
i
a
n

In [10]:
x='Alex Kurian'
for a in x:
  if a=='i':
    print("You're name has the letter")

You're name has the letter

In [11]:
x=[10,25,26,35,10,55]
K=0
for a in x:
  print('K=',K)
  print('a=',a)
  K=K+a
  print('K+a=',K)

K= 0
a= 10
K+a= 10
K= 10
a= 25
K+a= 35
K= 35
a= 26
K+a= 61
K= 61
a= 35
K+a= 96
K= 96
a= 10
K+a= 106
K= 106
a= 55
K+a= 161