<a href="https://colab.research.google.com/github/Alex-Kurian/Python-Basics/blob/main/PythonBasics6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def alex():
  print("HEHEHEHE")
alex()

HEHEHEHE

In [2]:
def alex1(x,y):
  z=x+y
  print("Result=",z)
alex1(5,6)

Result= 11

In [3]:
def alex1(x,y):
  z=x*y
  print("Result=",z)
alex1(5,6)

Result= 30

In [4]:
def A1(S1):
  if S1<250000:
    print("No Tax")
  if S1>250000:
    print("Tax")
s=int(input("Enter your salary="))
A1(s)

Enter your salary=2500000
Tax

In [5]:
def sal(y):
  K=0
  for a in range(y):
    K=K+a
  print(K)
s=int(input("Enter number="))
sal(s)

Enter number=12
66

In [6]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)
x=int(input("Enter number1="))
y=int(input("Enter number2="))
add(x,y)

Enter number1=13
Enter number2=2
15