<a href="https://colab.research.google.com/github/Alex-Kurian/Python-Basics/blob/main/PythonBasics8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Practice Q.1
Tsource=input("Travel Source - ")
Tdest=input("Travel Destination - ")
Pnum=int(input("Number of Passengers - "))
#print(Tsource)
#print(Tdest)
#print(Pnum)

Travel Source - Kerala
Travel Destination - Delhi
Number of Passengers - 3

In [2]:
#Practice Q.2
TFare=int(input("Total Fare - "))
Pnum=int(input("Number of Passengers - "))
print("Fare Per Person - ",TFare/Pnum)

Total Fare - 100
Number of Passengers - 2
Fare Per Person -  50.0

In [3]:
#Practice Q.3
Pname=input("Passenger's Name - ")
TicFare=int(input("Ticket Fare - "))
print(Pname," - ",TicFare)

Passenger's Name - Alex
Ticket Fare - 100
Alex  -  100

In [4]:
#Practice Q.4 If-Else
TFare=int(input("Total Fare - "))
if TFare>10000:
  print("Eligible for Discount")
else:
  print("Not Eligible for Discount")

Total Fare - 15000
Eligible for Discount

In [5]:
#Practice Q.5 If-Else
TFare=int(input("Total Fare - "))
if TFare>15000:
  print("Eligible for 20% Discount")
else:
  print("Eligible for 10% Discount")

Total Fare - 15001
Eligible for 20% Discount

In [6]:
#Practice Q.6 If-Else
TFare=int(input("Total Fare - "))
if TFare>15000:
  print("Eligible for 20% Discount")
  DFare=TFare-(TFare*20/100)
  print("Discounted Fare= ",DFare)
elif TFare>10000:
  print("Eligible for 10% Discount")
  DFare=TFare-(TFare*10/100)
  print("Discounted Fare= ",DFare)
else:
  print("Eligible for 5% Discount")
  DFare=TFare-(TFare*5/100)
  print("Discounted Fare= ",DFare)

Total Fare - 20000
Eligible for 20% Discount
Discounted Fare=  16000.0

In [7]:
#Practice Q.7 If-Elif-Else
X=int(input("Number = "))
type(X)
if X>0:
  print("Number is Positive")
elif X==0:
  print("Number is Zero")
else:
  print("Number is Negative")

Number = 4
Number is Positive

In [8]:
#Practice Q.8 If-Elif-Else
Pname=input("Passengr Name - ")
PAge=int(input("Passengr Age - "))
if PAge>18:
  print("Adult")
elif PAge>=13:
  print("Teenager")
elif PAge>=6:
  print("Kid")
elif PAge>=2:
  print("Toddler")
else:
  print("Infant")

Passengr Name - Alex
Passengr Age - 19
Adult

In [9]:
#Practice Q.9 If-Elif-Else
X=['a','e','i','o','u','A','E','I','O','U']
#FName=input("Passengr First Name - ")
SName=input("Passengr Initial - ")
if SName in X:
  print("It's a vowel")
else:
  print("Not a Vowel")

Passengr Initial - Kurian
Not a Vowel

In [10]:
#Practice Q.10 For loop
Pname=input("Passengr Name - ")
for a in Pname:
  print(a)

Passengr Name - Alex
A
l
e
x

In [11]:
#Practice Q.11 For loop
#a.
for a in range(44,88):
  if a%2!=0:
    print(a)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [12]:
#Practice Q.11 For loop
#b.
k=0
for a in range(1,11):
  k=k+a
  print(a,k)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [ ]:
#Practice Q.12 For loop
#k=0
#for a in range(1,5):

In [ ]:
#Practice Q.13 While loop
#while:
  #Pname=input("Passengr Name - ")
  #PAge=int(input("Passengr Age - "))