<a href="https://colab.research.google.com/github/Alex-Kurian/Python-Basics/blob/main/PythonBasics7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Name=input("Enter your Name=")
Number=int(input("Enter your mobile number="))
print(Name)
print(Number)

Enter your Name=Alex
Enter your mobile number=8766565665
Alex
8766565665

In [2]:
Sname=input("Student Name= ")
NS=int(input("Number of Subjects= "))
S1=int(input("Subject 1 Mark= "))
S2=int(input("Subject 2 Mark= "))
S3=int(input("Subject 3 Mark= "))
Total=S1+S2+S3
Avg=Total/NS
print(Sname)
print(Total)
print(Avg)

Student Name= Alex
Number of Subjects= 3
Subject 1 Mark= 3
Subject 2 Mark= 4
Subject 3 Mark= 6
Alex
13
4.333333333333333

In [3]:
N1=int(input("First Number= "))
N2=int(input("Second Number= "))
N3=int(input("Third Number= "))
if N1>N2 and N1>N3:
  print(N1,"is larger")
elif N2>N1 and N2>N3:
  print(N2,"is larger")
else:
  print(N3,"is larger")

First Number= 34
Second Number= 54
Third Number= 33
54 is larger

In [4]:
n1=int(input("Number= "))
if n1%2==0:
  print(n1,"ia an even number")
else:
  print(n1,"is an odd number")

Number= 6
6 ia an even number

In [5]:
for i in range(1,11):
  if i%2==0:
    print(i)

2
4
6
8
10

In [6]:
k=0
for a in range(1,51):
  if a%5==0:
    k=k+1
    print(k,"*","5","=",a)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50